table{
	width:100%;
	border-collapse: collapse;
	
}
.table-editable {
  position: relative;
  
}
.glyphicon {
    font-size: 15px;
  }
.table-remove,.table-remove-col {
  color: #700;
  cursor: pointer;
}
.table-remove:hover,.table-remove-col:hover {
    color: #f00;
  }
.table-remove-col{
	
 }
span{
	  position:relative;
	  right:2px;
	  
  }
td:not(.special),th:not(first-child){
	border-right-style: ridge;
	width:47.5%;
}

.special{
	width: 5%;
}
.table-add,.table-add-column{
  color: #070;
  cursor: pointer;
  
}
.table-add:hover, .table-add-column:hover {
    color: #0b0;
  }
 .special span {
	 position:relative;
	 left : 30%;
	 top: 0;
 }
 
 .glyphicon-minus{
	 position:relative;
	 margin: auto;
 }
 
 #creChart {
    font-family: 'Fira Sans' sans-serif;
    font-size: 1.5em;
    color: rgb(53, 108, 214); 
    width: 250px;
    border: solid 1px rgb(53, 108, 214);
    border-radius: 3px;
    font-weight: 300;
    transition: all .28s;

}

#creChart:hover {
    background-color: rgb(53,108,214);
    color: rgb(236, 239, 240);
}

