@CHARSET "ISO-8859-1";
@import "compass/css3";

table{
	width:100%;
	border-collapse: collapse;
	
}
.table-editable {
  position: relative;
  
  
}
.glyphicon {
    font-size: 15px;
  }
.table-remove,.table-remove-col {
  color: #700;
  cursor: pointer;
}
.table-remove:hover,.table-remove-col:hover {
    color: #f00;
  }
.table-remove-col{
	
 }
span{
	  position:relative;
	  right:2px;
	  
  }
td:not(.special),th:not(first-child){
	border-right-style: ridge;
	
}
.table-add,.table-add-column{
  color: #070;
  cursor: pointer;
  
}
.table-add:hover, .table-add-column:hover {
    color: #0b0;
  }
 .special span {
	 position:relative;
	 left : 30%;
	 top: 0;
 }
 .glyphicon-minus{
	 position:relative;
	 margin: auto;
 }
 